* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

/* banner 页头*/
header {
    height: 20rem;
    background-color: rgb(65, 173, 245);
    position: relative;
}

header nav {
    height: 50px;
    position: relative;
    top: 20px;
    line-height: 50px;
    color: white;
    padding: 0px 30px;
}

header nav span {
    display: inline-block;
}

header nav .left {
    font-family: '黑体';
    font-weight: bold;
    font-size: 20px;
    float: left;
    color: white;
}

header nav .right {
    float: right;
}

header nav .right div {
    float: left;
    margin-left: 50px;
    position: relative;
}

header nav .right div a::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 0;
    background-color: rgba(0, 0, 0, 0.1);
    left: 0px;
    bottom: 0px;
    transition: width 0.3s linear;
}

header nav .right div a:hover::after {
    width: 100%;
}

header nav .right a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#nav_inner {
    position: absolute;
    visibility: hidden;
    background-color: white;
    width: 100px;
    left: -50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 1px rgb(110, 110, 110);
    color: black;
}

#nav_inner li {
    padding-left: 10px;
    box-sizing: border-box;
}

#nav_inner li:hover {
    background-color: aqua;
    padding-left: 10px;
    width: 100%;
}

#nav_a:hover #nav_inner {
    visibility: visible;
}

header .center_content {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 40px;
    height: calc(20rem - 70px);
    width: 100%;
    text-align: center;
    line-height: calc(20rem - 70px);
}



#main_content {
    height: 700px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    top: 40px;
}

#main_content aside {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main_content main {
    width: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#main_content aside #inf,#notice {
    height: auto;
    width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgb(192, 192, 192);
    padding: 25px 15px;
}

#main_content aside #inf .img {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: auto;
    border-radius: 50%;
}

#inf {
    padding: 15px;
}

#inf .name {
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0px;
}

#inf .title {
    text-align: center;
    font-size: 15px;
}

#inf a {
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: rgb(44, 149, 219);
    font-size: 15px;
}

#notice span {
    font-size: 20px;
}

#notice .content {
    margin-top: 5px;
    font-size: 15px;
    line-height: 30px;
}


#main_content .content {
    height: 300px;
    width: 100%;
    box-shadow: 0px 0px 15px 3px lightgray;
    border-radius: 10px;
}
