* {
    font-size: 40px;
    font-family: '黑体';
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 20px;
}

div {
    display: flex;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 206, 185);
}

.flex-outer {
    width: 50%;
    height: 926px;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-outer .title {
    width: 100%;
    height: 5%;
    background-color: teal;
    justify-content: space-around;
    align-items: center;
}

.flex-outer .title li {
    width: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.flex-outer .title li a {
    color: rgb(221, 206, 185);
}
.flex-outer .title li a:hover {
    color:rgb(233, 223, 208);
}

.flex-outer #main {
    height: 95%;
    width: 100%;
    border: 1px solid black;
    flex-direction: column;
    flex-wrap: wrap;
}

/* 内容展示区 */
#main .left {
    height: 100%;
    width: 70%;
    border: 1px solid black;
    justify-content: center;
}

@keyframes banner-display {
    0% {
        transform: translateX(0);
    }

    9% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-20%);
    }

    19% {
        transform: translateX(-20%);
    }

    20% {
        transform: translateX(-40%);
    }

    29% {
        transform: translateX(-60%)
    }

    30% {
        transform: translateX(-60%)
    }

    39% {
        transform: translateX(-80%);
    }

    40% {
        transform: translateX(-80%);
    }

    49% {
        transform: translateX(-80%);
    }

    50% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(80%);
    }

    70% {
        transform: translateX(60%);
    }

    80% {
        transform: translateX(40%);
    }

    100% {
        transform: translateX(0);
    }
}

#banner-outer {
    display: block;
    position: relative;
    top: 20px;
    height: 25%;
    width: 80%;
    background-color: seagreen;
    overflow: hidden;
}

#banner-outer * {
    display: block;
}

#banner-outer .display-img {
    width: 500%;
    height: 100%;
}

#banner-outer .display-img .img {
    float: left;
    width: 20%;
    height: 100%;
    background-color: seashell;
    animation: banner-display 10s;
    animation-iteration-count:infinite;
}

#main .right {
    height: 40%;
    width: 30%;
    border: 1px solid black;
}

#main .right-bottom {
    height: 60%;
    width: 30%;
    border: 1px solid black;
}