
.home-cover-area {
	width: 100vw;
	margin-top: 10rem;
	height: 700px;
	background-color: var(--c-body-bg);
	/* margin-bottom: 12rem; */
	overflow: hidden;
}

.section-container, .main {
	margin: 0px 15%;
}

.section-container {
	width: 100vm;
	height: 100%;
	margin: 0px 15%;
}

.section-container-inner {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-left, .section-right {
	height: 100%;
}

.section-left {
	padding-left: 2rem;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.section-left > .title {
	font-size: 4rem;
}

.section-left > .detail {
	font-size: 1.5rem;
}

.section-left > .tags {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.section-left > .tags li {
	color: white;
	text-align: center;
	display: block;
	height: 20px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px 20px;
	border-radius: 12.5px;
}


#tag1 {
	background-color: rgb(229, 26, 33);
}

#tag2 {
	background-color: rgb(20, 148, 148);
}

#tag3 {
	background-color: rgb(231, 132, 34);
}

#tag4 {
	background-color: rgb(185, 12, 177);
}


.section-right {
	width: 40%;
	position: relative;
}

.section-right-inner {
	position: relative;
	height: 100%;
	width: 100%;
}

.section-right-inner > .show-img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 30rem;
	height: 30rem;
	bottom: 0px;
	margin: auto;
	overflow: hidden;
	border-radius: 50%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(1turn); }
}

.section-right-inner::before {
	border: 2px dashed var(--c-border-light);
	border-radius: 50%;
	height: 35rem;
	width: 35rem;
	content: '';
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: -50%;
	right: -50%;
	transform: translate(-50%);
	margin: auto;
	animation: spin 70s linear infinite;
}

.section-right-inner::after {
	border: 2px dashed var(--c-border-light);
	border-radius: 50%;
	height: 700px;
	width: 700px;
	content: '';
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: -50%;
	right: -50%;
	margin: auto;
	animation: spin 100s linear infinite;
}




.main {
	height: 800px;
	padding: 0px 10%;
}

.main-container {
	width: inherit;
	height: inherit;
	background-color: var(--c-body-bg);
}

.main-flex > h2 {
	margin-bottom: 5rem;
}

.main-flex > h2 > span {
	position: relative;
}

.main-flex > h2 > span:before {
	background-color: var(--c-primary-main);
	border-radius: 2px;
	height: 4px;
	width: 100%;
	content: "";
	position: absolute;
	bottom: -10px;
}

.post {
	margin: 1rem;
	padding: 1rem;
	border-radius: 6px;
	height: 300px;
	border: 2px dashed var(--c-primary-main);
	display: flex;
	justify-content: space-between;
}

.post > .post-img {
	border-radius: 10px;
	height: 100%;
	width: 30%;
	background-color: var(--c-primary-main);
	overflow: hidden;
}

.post > .post-img > img {
	height: 100%;
}

.post > .post-content {
	width: 65%;
	height: 100%;
}