* {
	margin: 0px;
	padding: 0px;
	color: black;
}

div {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration-style: none;
	text-decoration-line: none;
}

#app {
	position: relative;
	height: 100vh;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
}

.header .info {
	height: 50%;
	widht: 100vw;
}

.header .info a {
	font-size: 50px;
	color: lightcoral;
}

.header .nav {
	display: flex;
	justify-content: space-around;
}

.header .nav li {
	margin-left: 40px;
}


/*flex-direction*/
.flex-container {
	display: flex;
	justify-content: flex-start;
	margin: 5px 25% 0px;
	height: 80%;
}



.flex-container a {
	color: #666;
	height: 30px;
	background-color: white;
	width: 100%;
	margin: 5px 0px;
}